.headerName {
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.general-top {
    height: 400px;
    padding-top: 30px;
    color: #fff;
    border: 1px solid rgba(2, 3, 3, 0.5);
    border-radius: 1px;
    box-shadow: 0 0 14px 0 rgba(3, 5, 7, 0.35);
    margin-top: 30px;
}

.headerInfo1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 18px;
}

.headerInfo2 {
    text-align: center;
    font-size: 18px;
    line-height: 1;
}

.iOrders {
    width: 160px;
    height: 60px;
    border: 1px solid rgba(2, 3, 3, 0.5);
    box-shadow: 0 0 14px 0 rgba(3, 5, 7, 0.35);
    margin-top: 20px;
}

.iExecutors {
    width: 160px;
    height: 60px;
    border: 1px solid rgba(2, 3, 3, 0.5);
    box-shadow: 0 0 14px 0 rgba(3, 5, 7, 0.35);
    margin-top: 20px;
}